node_modules/
.DS_Store
.env
.env.local
.flutter-sdk/
.gradle/
.kotlin/
.local-config/
flutter/
coverage/
dist/
build/
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
mobile/android/local.properties
mobile/.gradle-temp/
